Options -Indexes

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^server\.js$ server.php [L]
</IfModule>

<FilesMatch "^((lib|schema|config)\.php|\.errors\.log|\.logins\.log|\.schema_v.*)$">
  <IfModule mod_authz_core.c>
    Require all denied
  </IfModule>
  <IfModule !mod_authz_core.c>
    Order allow,deny
    Deny from all
  </IfModule>
</FilesMatch>

<IfModule mod_headers.c>
  Header always set Access-Control-Allow-Origin "*"
</IfModule>